
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng21w43-primary: mat.define-palette(mat.$indigo-palette);
$ng21w43-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng21w43-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng21w43-theme: mat.define-light-theme((
  color: (
    primary: $ng21w43-primary,
    accent: $ng21w43-accent,
    warn: $ng21w43-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng21w43-theme);

html {
  font-family: Verdana, "Liberation Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.debug {
  border: 1px solid black;
  background-color: #444;
  color: #ddd;
  font-family: "Courier New", monospace;
}

.highlighted {
  border: 1px solid black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
