html {
  font-family: Verdana, "Liberation Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.debug {
  border: 1px solid black;
  background-color: #444;
  color: #ddd;
  font-family: "Courier New", monospace;
}
