<form #form="ngForm" (ngSubmit)="save(); form.reset()">
  <mat-form-field appearance="fill">
    <mat-error [hidden]="firstName.untouched || !firstName.errors?.required">Merci de renseigner un prénom</mat-error>
    <mat-error *ngIf="firstName.touched && firstName.errors?.required">Merci de renseigner un prénom</mat-error>
    <mat-error [hidden]="firstName.untouched || !firstName.errors?.parityLength">
      Le prénom doit avoir un nombre pair de caractères
    </mat-error>
    <mat-label>Prénom</mat-label>
    <input type="text" matInput [(ngModel)]="contact.firstName" required
           #firstName="ngModel" appParityLength="odd" [attr.aria-describedby]="ids.firstName+'[help]'"
    >
    <mat-hint>Saisissez votre prénom, tel qu'il apparaît sur votre pièce d'identité.</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-error [hidden]="lastName.untouched || !lastName.errors?.required">
      Merci de renseigner un nom
    </mat-error>
    <mat-error [hidden]="lastName.untouched || !lastName.errors?.pattern">
      Le nom ne doit comporter que des lettres (sans accent) ou des chiffres
    </mat-error>
    <mat-label>Nom</mat-label>
    <input type="text" matInput [(ngModel)]="contact.lastName"
           pattern="[A-Za-z0-9]+" required  #lastName="ngModel"
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-error [hidden]="email.untouched || email.valid">Merci de fournir une adresse email valide</mat-error>
    <mat-label>Email</mat-label>
    <input type="email" matInput [(ngModel)]="contact.email"
           pattern="[^@]+@[^@]+\.[a-z]{2,}" #email="ngModel"
    >
  </mat-form-field>
  <button [disabled]="form.invalid">Valider</button>
</form>
