<form #form="ngForm" (ngSubmit)="save(); form.reset()">
  <div>
    <p class="help" [hidden]="firstName.untouched || !firstName.errors?.required">Merci de renseigner un prénom</p>
    <p class="help" *ngIf="firstName.touched && firstName.errors?.required">Merci de renseigner un prénom</p>
    <p class="help" [hidden]="firstName.untouched || !firstName.errors?.parityLength">
      Le prénom doit avoir un nombre pair de caractères
    </p>
    <label [attr.for]="ids.firstName">Prénom</label>
    <input type="text" [id]="ids.firstName" name="firstName" [(ngModel)]="contact.firstName" required
           #firstName="ngModel" appParityLength="odd" [attr.aria-describedby]="ids.firstName+'[help]'"
    >
    <p class="help" [id]="ids.firstName+'[help]'">Saisissez votre prénom, tel qu'il apparaît sur votre pièce d'identité.</p>
  </div>
  <div>
    <p class="help" [hidden]="lastName.untouched || !lastName.errors?.required">
      Merci de renseigner un nom
    </p>
    <p class="help" [hidden]="lastName.untouched || !lastName.errors?.pattern">
      Le nom ne doit comporter que des lettres (sans accent) ou des chiffres
    </p>
    <label for="contact[lastName]">Nom</label>
    <input type="text" id="contact[lastName]" name="lastName" [(ngModel)]="contact.lastName"
           pattern="[A-Za-z0-9]+" required  #lastName="ngModel"
    >
  </div>
  <div>
    <p class="help" [hidden]="email.untouched || email.valid">Merci de fournir une adresse email valide</p>
    <label for="contact[email]">Email</label>
    <input type="email" id="contact[email]" name="email" [(ngModel)]="contact.email"
           pattern="[^@]+@[^@]+\.[a-z]{2,}" #email="ngModel"
    >
  </div>
  <button [disabled]="form.invalid">Valider</button>
</form>
